/* Laptopy a běžné desktopy */
@media (max-width: 1025px) {
    body {
        background: white;
    }
}

/* Tablety a menší notebooky */
@media (max-width: 992px) {
    body {
        background: green;

        #wrap {
            header {
                display: flex;
                align-items: start;
                width: 100%;
                margin-left: 400px;

                nav ul {
                    flex-direction: row;
                    display: flex;
                }
            }

            #uvod {
                margin-top: 500px;
            }
        }
    }
}

/* Telefony na šířku, menší tablety */
@media (max-width: 768px) {
    body {
        background: yellow;
    }
}

/* Telefony (mobilní zařízení) */
@media (max-width: 576px) {
    body {
        background: red;
    }
}




