/* Laptopy a běžné desktopy */
@media (max-width: 1025px) {
    body {
        background: white;
    }
}

/* Tablety a menší notebooky */
@media (max-width: 992px) {
    body {
        background: green;

        #wrap {
            header {
                display: flex;
                align-items: start;
                width: 100%;
                margin-left: 300px;

                nav ul {
                    flex-direction: row;
                    display: flex;
                }
            }

            #uvod {
                margin-top: auto;
            }

            #bocni {
                display: none;
            }

            h1 {
                align-items: center;
                text-align: center;
            }

            #blog {
                align-items: center;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                width: 150%;
                height: 150%;

                article {

                }
            }
        }
    }
}

/* Telefony na šířku, menší tablety */
@media (max-width: 768px) {
    body {
        background: yellow;

        #wrap {
            header {
                display: flex;

                #blog {
                    display: flex;
                    flex-direction: column;

                }
            }
        }
    }
}

/* Telefony (mobilní zařízení) */
@media (max-width: 576px) {
    body {
        background: red;
    }
}




